!!! 5
html
    head
        title = "login"
    body
#head
    a(href='/auth/twitter') Twitter
    br
    a(href='/auth/facebook') Facebook
    br
    a(href='/login') login
    br
    a(href='/register') register
    br


    div!=body




